.list{
  padding: 1% 2%;
  height: 75px;
  background-color: #DCDCDC;
  border-radius: 7px;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-top: 1%;
}

.answer{
  padding: 2%;
  background-color: #17233F;
  color: #ffffff;
  border-radius: 0 0 5px 5px;
}

.faq-border{
  border-radius: 5px 5px 0 0 !important;
}

.list-icon{
  font-size: 25px;
}

@media only screen and (max-width: 650px){
  .name{
    font-size: 17px;
  }
}

@media only screen and (max-width: 450px){
  .name{
    font-size: 15px;
  }
}