.heading-comp{
  color: var(--dark);
  width: 100%;
}

@media only screen and (max-width: 600px){
  .heading-comp{
    /* text-align: center; */
    font-size: 25px;
  }
}

@media only screen and (max-width: 350px){
  .heading-comp{
    font-size: 25px;
  }
}