.close-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.top{
  display: flex;
  justify-content: space-between;
}
.master-div{
  border: 2px solid green;
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.main{
  width: 75%;
  padding: 2%;
  background-color: #ffffff;
}