.footer{
  margin-top: 5%;
  padding: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EFEFEF;
  height: fit-content;
}

.footer-left-div{
  width: 40%;
  display: flex;
  flex-direction: column;
}

.footer-middle-div{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
}

.footer-text{
  margin-top: 6%;
}

.footer-right-div{
  width: 25%;
  height: fit-content;
}

.s-media-icons-div{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.s-media-icon{
  font-size: 25px;
  cursor: pointer;
}

.s-media-icon:hover{
  color: #E7BB41;
}

@media only screen and (max-width: 750px){
  .footer{
    flex-direction: column;
    overflow-y: hidden;
  }
  .footer-left-div{
    width: 100%;
    text-align: center;
  }
  .footer-middle-div{
    margin-top: 5%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-right-div{
    width: 100%;
    text-align: center;
    margin-top: -125px;
  }
}