.navbar{
  width: 100%;
  padding: 1% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.95);
}
.left{
  width: 20% !important;
}

a{
  text-decoration: none;
  color: black;
}

.middle{
  width: 35%;
  display: flex;
  justify-content: space-between;
}

.right{
  display: flex;
  justify-content:space-around;
}

.icon{
  margin-left: auto;
}

.navbar-btn{
  height: 40px;
  width: 125px;
  background-color: var(--dark);
  color: var(--yellow);
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 15px;
  outline: none;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.resp-navbar{
  z-index: 10;
  margin-top: 60px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
  width: 100%;
  padding: 10px 2%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.d-none{
  display: none !important;
}

.navbar-icon{
  margin-left: auto;
  font-size: 25px;
  display: none;
}

@media only screen and (max-width: 950px){
  .middle{
    width: 40%;
  }
  .navbar-heading{
    font-size: 30px;
  }
  .navbar-btn{
    height: 30px;
    width: 95px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 800px){
  .navbar{
    height: 60px;
  }
  .navbar-heading{
    font-size: 30px;
  }
  .navbar-icon{
    display: inline;
  }
  .middle, .navbar-btn{
    display: none;
  }
}
@media only screen and (max-width: 700px){
  .navbar-btn{
    width: 75px;
    font-size: 12px;
  }
}